$verdana: Verdana, sans-serif;
$body-color: rgba(49, 253, 0, 0.7411764705882353);

body {
	font: 12px $verdana;
    background: $body-color;
    width: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}